@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

form input {
  font-size: 24px;
}

body {
  background-color: hsl(185, 41%, 84%);
}

.title {
  font-family: "Space Mono", sans-serif;
  position: absolute;
  top: 10%;
  left: 51%;
  transform: translate(-50%, -50%);
  color: hsl(183, 100%, 15%);
  letter-spacing: 10px;
}

main {
  font-family: "Space Mono", sans-serif;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 900px;
  height: 450px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 25px;
}

.menu {
  width: 400px;
  height: 400px;
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: "Space Mono";
}

.menu input {
  font-family: "Space Mono";
  color: hsl(183, 100%, 15%);
}

.menu-row {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.menu-row label {
  margin-bottom: 5px;
}

.menu-row img {
  position: absolute;
  margin-top: 15px;
  margin-left: 20px;
}

.menu-row input {
  width: 100%;
  height: 40px;
  font-size: 20px;
  background-color: hsl(189, 41%, 97%);
}

.menu-row .menu-tip-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.menu-tip-row input {
  width: 31%;
  height: 40px;
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: 5px;
  border-radius: 5px;
}

.menu-tip-row input:focus {
  background-color: hsl(172, 67%, 45%);
}
.menu-tip-row input:active {
  background-color: hsl(172, 67%, 45%);
}

.disabled {
  width: 31%;
  height: 40px;
  color: hsl(0, 0%, 100%);
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
}

.result {
  width: 400px;
  height: 400px;
  background-color: hsl(183, 100%, 15%);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  width: 80%;
  height: 100%;
  /* background-color: wheat; */
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 20px;
  margin: 0px 0px 0px 0px;
  /* align-items: center; */
}

.info-row {
  width: 100%;
  height: 20%;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  line-height: 20%;
}

.info-text {
  width: 100%;
  height: 100%;
  font-size: 15px;
  color: hsl(189, 41%, 97%);
}
.info-text .under {
  color: hsl(184, 14%, 56%);
  font-size: 13px;
}

.info-row .sum {
  display: flex;
  justify-content: flex-end;
  font-size: 40px;
  font-weight: 700;
  color: hsl(172, 67%, 45%);
}

.reset {
  width: 100%;
  height: 100%;
  /* background-color: hsl(0, 0%, 100%); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset button {
  width: 90%;
  height: 50px;
  align-self: flex-end;
  margin: 0px 0px 30px 0px;
}
